
body {
  font: 300 rem(17px)/1.64 $palatino_linotype;
  letter-spacing: 0.4px;

}

.main_section {
  position: relative;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  h1 {
    font-size: rem(80px);
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%)
  }
}

.feedback_section{
  margin-top: rem(120px);
}
