.main_footer {
  width: 100%;
  position: relative;
  .footer_head {
    display: flex;
    justify-content: space-between;
    padding: rem(100px) 0 rem(125px) 30%;
    .footer_contacts {
      display: flex;
      flex-direction: column;
      font-size: rem(20px);
      font-weight: 400;
      line-height: 1.4;
      span {
        margin-bottom: rem(20px);
      }
    }
    .footer_menu {
      display: flex;
      flex-direction: column;
      a {
        font-size: rem(20px);
        font-weight: 400;
        line-height: 1.4;
        transition: .4s;
        &:hover {
          color: $blue_color;
          transition: .4s;
        }
      }
    }
    .footer_logo {
      position: relative;
      width: rem(600px);
      height: rem(100px);
      background-color: $black_color;
      display: flex;
      align-items: center;
      padding-left: rem(45px);
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: rem(-45px);
        width: 0;
        height: 0;
        border-top: rem(100px) solid $black_color;
        border-left: rem(45px) solid transparent;
      }
      &::after {
        @include before_fig(rem(2px), 100%, $black_color);
        left: rem(-1px);
        top: 0;
      }
    }
  }
  .footer_bottom {
    border-top: rem(1px) solid #c4c4c4;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: rem(50px) 0 rem(100px) 0;
    p {
      font-size: rem(17px);
      font-weight: 400;
      line-height: 1.64;
      color: $black_color;
    }
  }
}

