.home_section {
  position: relative;
  width: 100%;
  height: 100vh;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .slider {
    position: absolute;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    .slider_content {
      width: 100%;
      .slide_img {
        width: 100%;
        max-width: rem(1000px);
        height: rem(429px);
        align-self: flex-end;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .text_wrap {
        justify-content: flex-start;
      }

    }

  }
}
