.home_section {
  position: relative;
  width: 100%;
  .home_img {
    position: relative;
    overflow: hidden;
    height: rem(700px);
    margin-bottom: rem(-150px);
    img {
      position: absolute;

    }
  }
  .slider {
    position: relative;
    justify-content: space-between;
    .slider_content {
      justify-content: flex-start;
      width: 100%;
      .slide_img {
        max-width: none;
        width: 55%;
        height: rem(429px);
        align-self: flex-end;
        img {
         position: absolute;
        }
      }
      .text_wrap {
        max-width: none;
        width: 45%;
      }

    }

  }
}
