.slider {
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  .slider_content {
    display: flex;
    justify-content: center;
    min-height: rem(578px);
    .slide_img {
      position: relative;
      width: 100%;
      max-width: rem(766px);
      height: rem(578px);
      overflow: hidden;
      display: flex;
      background-color: $black_color;
      img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .text_wrap {
      position: relative;
      width: 100%;
      max-width: rem(847px);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      overflow: hidden;
      background-color: $black_color;
      .slide_text {
        position: absolute;
        top: 0;
        left: 0;
        padding: rem(90px) rem(90px) rem(120px);
        background-color: $black_color;
        max-width: rem(680px);
        .slide_title {
          font-size: rem(40px);
          font-weight: 400;
          color: $white_color;
          margin-bottom: rem(50px);
        }
        .title_item {
          font-size: rem(17px);
          font-weight: 400;
          line-height: 28px;
          color: $white_color;
          font-family: "Proxima Nova";
        }
      }
      .slider_control {
        position: absolute;
        bottom: rem(100px);
        left: rem(92px);
        z-index: 2;
        display: flex;
        .prev_slide, .next_slide {
          width: rem(40px);
          height: rem(40px);
          border: 2px solid $white_color;
          background-color: $black_color;
          color: $white_color;
          cursor: pointer;
          &:hover {
            background-color: #fff;
            color: $black_color
          }
        }
      }
    }
  }
}